.header {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
}
.logo {
  width: 110px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 17px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.search {
  padding: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  height: 300px;
  width: 200px;
  padding: 5px;
  margin: 2px;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.res-logo {
  width: 100%;
}
